JWT_SECRET_KEYS = JWT_SECRET_KEYS

JWT_EXPIRES_IN = 3600

NODE_ENV = development

DEV_DB_USERNAME= DEV_DB_USERNAME
DEV_DB_NAME=DEV_DB_NAME
DEV_DB_HOSTNAME = DEV_DB_HOSTNAME

PROD_DB_USERNAME= PROD_DB_USERNAME
PROD_DB_PASSWORD = PROD_DB_PASSWORD
PROD_DB_NAME=PROD_DB_NAME
PROD_DB_HOSTNAME = PROD_DB_HOSTNAME

CLOUDINARY_CLOUD_NAME =CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY = CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET =CLOUDINARY_API_SECRET
CLOUDINARY_ENV_VAR = CLOUDINARY_ENV_VAR